$slate: rgb(40, 44, 55);
$antislate: rgb(216, 218, 233);
$accent: #4685ff;
$shadow-medium: 0px 10px 20px rgba(0, 0, 0, 0.3);
$shadow-far: 0px 10px 40px rgba(0, 0, 0, 0.25);

$mobile: "(orientation: portrait)";
$desktop: "(orientation: landscape)";

i.ficon {
    font-family: "xypnoxgithubio";
}

html {
    margin: 0;
    padding: 0;
    height: 100%;
    body{
        font-size: 1.6em;
        font-family: 'Jost', 'Josefin Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin: 0;
        height: 100%;
        padding: 0;
        color: #333741;
        .open{
            text-align: center;
            height: 100%;
            .logo {
                height: 66%;
            }
            img {
                height: 40rem;
                z-index: -100;
                animation: 1.5s fadeIn;
                animation-fill-mode: forwards;

                visibility: hidden;
                @media #{$mobile} {
                    width: 100%;
                }
            }

            h1 {
                font-weight: normal;
                font-size: 4rem;
                // padding: 1em 0;
                @media #{$mobile} {
                    margin: 0 1em;
                }
                .xypnoxname {
                    font-size: 4.5rem;
                    font-weight: 400;
                }
            }

            @keyframes fadeIn {
              25% {
                opacity: 0;
              }
              100% {
                  visibility: visible;
                  opacity: 1;
              }
            }

        }

        .page {
            @media #{$mobile} {
                padding-bottom: 4rem;
            }
            h1 {
                padding: 1em 0;
            }
        }

        .contents {
            z-index: 100;
            background-color: #fff;
            padding: 2em 30%;
            
            .resume {
                text-align: center;
                margin-top: 7rem;

                a {
                    text-decoration: none;
                    font-size: 1.5em;
                    padding: 0.9em 1.8em;
                    border-radius: 1em;
                    color: #fff;
                    background: linear-gradient(120deg, rgb(0, 99, 255), rgb(255, 0, 128));
                    box-shadow: $shadow-medium;
                    transition: 0.3s;
    
                    &:hover {
                        padding: 1em 2em;
                        box-shadow: $shadow-far;
                    }
    
                }
                @media #{$mobile} {
                    margin: 3em 1em;
                    margin-bottom: 6em;
                    a{
                        padding: 0.5em 1em;
                    }
                }
            }
        }
        @media #{$mobile} {

            .contents {
                padding: 1em 10%;
            }
            .intro {
                padding: 1em 5%;
            }

            .open {
                height: 100%;
            }
        }

        .projects {
            .project {
                background-color: $slate;
                color: $antislate;
                padding: 1em 2em;
                margin: 2em 1em;
                border-radius: 10px;
                box-shadow: $shadow-medium;
                text-decoration: none;
                cursor: pointer;
                transition: 0.5s;

                h2 {
                    color: $accent;
                }
                &:hover{
                    box-shadow: $shadow-far;
                    transform: scale(1.05);
                }
            }
            @media #{$mobile} {
                .project{
                    margin: 1em 0em;
                    padding: 1em;
                    h2, p{
                        font-size: 0.9em;
                    }

                }
            }
        }
        .experience {

            .language {
                background-color: $slate;
                color: $antislate;
                padding: 1em;
                margin: 1em 2em;
                border-radius: 10px;
                box-shadow: $shadow-medium;
                font-size: 1.5em;
                text-align: center;
            }
            @media #{$mobile} {
                .language{
                    margin: 1em 0em;
                    padding: 1em;
                    font-size: 1em;
                }
            }
            .hover-left {
                grid-column: 1 3;
            }
            .hover-right {
                grid-column: 4 6;
            }
        }

        .footer {
            margin: 2em;
            text-align: center;
            @media #{$mobile} {
                margin: 0.5rem;
            }
        }

        .blag {
            margin: 6em;
            text-align: center;

            a {
                text-decoration: none;
                font-size: 1.5em;
                padding: 0.9em 1.8em;
                border-radius: 1em;
                color: #fff;
                background: linear-gradient(120deg, rgb(0, 99, 255), rgb(255, 0, 128));
                box-shadow: $shadow-medium;
                transition: 0.3s;

                &:hover {
                    padding: 1em 2em;
                    box-shadow: $shadow-far;
                }

            }
            @media #{$mobile} {
                margin: 3em 1em 8rem;
                // margin-bottom: 6em;
                a{
                    padding: 0.5em 1em;
                }
            }
        }

        .hover-grid-left {
            padding: 2em;
            top: 0;
            float: left;
            position: absolute;
            margin-left: 15%;
            margin-top: 20em;
            .hover-left {
                // float: left;
                border-radius: 1em;
                box-shadow: $shadow-medium;
                font-size: 2em;
                padding: 1em;
                margin-top: 16em;
                background-color: $antislate;

                a{
                    text-decoration: none;
                    color: rgb(255, 255, 255);
                }
            }
        }

        .hover-grid-right{
            padding: 2em;
            position: absolute;
            top: 5em;
            float: right;
            margin-left: 70%;
            .hover-right {
                // float: right;
                border-radius: 1em;
                box-shadow: $shadow-medium;
                font-size: 2em;
                padding: 1em;
                margin-top: 16em;
                background-color: $antislate;

                a{
                    text-decoration: none;
                    color: rgb(255, 255, 255);
                }
            }

        }

        @media #{$mobile} {
            .hover-grid-left, .hover-grid-right {
                display: none;
            }
        }

        .facebook {
            background: linear-gradient(60deg, #3b5998, #487ef0);
        }
        .twitter {
            background: linear-gradient(60deg, #6798ff, #2ba5ee);
        }
        .github {
            background: linear-gradient(60deg, #181a1f, #404859);
        }
        .telegram {
            background: linear-gradient(60deg, #3b5998, #d748f0);
        }
        .instagram {
            background: linear-gradient(60deg, #fa3378, #f59817);
        }

    }
}
