$slate: rgb(40, 44, 55);
$antislate: rgb(216, 218, 233);
$accent: #4685ff;

$background: #0f111a;
$color: #8f93a2;

$pink: #de0061ff;
$red: #de392bff;
$gold: #ff9612ff;

$hotpink: #ff0066;
$purple: #6b5fff;

$shadow-medium: 0px 10px 20px rgba(0, 0, 0, 0.3);
$shadow-far: 0px 10px 40px rgba(0, 0, 0, 0.25);

$mobile: '(max-width: 680px)';
$desktop: '(min-width: 681px)';

i.ficon {
  font-family: 'xypnoxgithubio';
}

html {
  margin: 0;
  padding: 0;
  background-color: $background;
  color: $color;

  body {
    font-size: 1.6em;
    font-family: 'Jost', 'Josefin Sans', 'Segoe UI', Tahoma, Geneva, Verdana,
      sans-serif;
    margin: 0;
    padding: 0;
    .open-wrapper {
      overflow: hidden;
    }
    .open {
      overflow: hidden;
      margin: 0;
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      img {
        width: 66vh;
        animation: 1.5s fadeIn;
        animation-fill-mode: forwards;

        visibility: hidden;
        @media #{$mobile} {
          height: 50vh;
        }
      }

      h1 {
        font-weight: normal;
        font-size: 4rem;
        text-align: center;
        @media #{$mobile} {
          margin: 0 1em;
        }
        .xypnoxname {
          font-size: 4.5rem;
          font-weight: 500;
          background: -webkit-linear-gradient(45deg, $hotpink, $purple);
          background-clip: text;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }

      @keyframes fadeIn {
        25% {
          opacity: 0;
        }
        100% {
          visibility: visible;
          opacity: 1;
        }
      }
    }

    .page {
      @media #{$mobile} {
        padding-bottom: 4rem;
      }
      h1 {
        padding: 1em 0;
      }
    }

    .contents {
      margin: auto;
      max-width: 800px;
      padding: 2em 1em;

      .text-grad {
        background: -webkit-linear-gradient(45deg, $hotpink, $purple);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
      .resume {
        text-align: center;
        margin-top: 7rem;

        a {
          color: darken($color, 30%);
          text-decoration: none;
          font-size: 1.5em;
          padding: 0.9em 1.8em;
          border-radius: 1em;
          background: rgba(#000, 0.15);

          transition: 0.3s;

          &:hover {
            padding: 1em 2em;
          }
        }
        @media #{$mobile} {
          margin: 3em 1em;
          margin-bottom: 6em;
          a {
            padding: 0.5em 1em;
          }
        }
      }
    }
    @media #{$mobile} {
      .contents {
        padding: 1em 5%;
      }
      .intro {
        padding: 1em 5%;
      }
    }

    .projects {
      .project {
        background-color: rgba(#000, 0.15);
        color: $color;
        padding: 1em 2em;
        margin: 2em 1em;
        border-radius: 10px;
        text-decoration: none;
        cursor: pointer;
        transition: 0.5s;

        h2 {
          color: $red;
          display: inline-block;
        }
        &:hover {
          transform: scale(1.05);
        }

        p {
          font-weight: 300;
        }
      }
      @media #{$mobile} {
        .project {
          margin: 1em 0em;
          padding: 0.5em 1em;
        }
      }
    }
    .experience {
      .language {
        background-color: rgba(#000, 0.25);
        color: $color;
        padding: 1em;
        margin: 1em 2em;
        border-radius: 10px;
        font-size: 1.5em;
        text-align: center;
      }
      @media #{$mobile} {
        .language {
          margin: 1em 0em;
          padding: 1em;
          font-size: 1em;
        }
      }
      .hover-left {
        grid-column: 1 3;
      }
      .hover-right {
        grid-column: 4 6;
      }
    }

    .social {
      margin: 2em 20%;

      @media #{$mobile} {
        margin: 2em 10%;
      }

      .social-links {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;

        @media #{$mobile} {
          margin: 1rem;
          .links:nth-child(3n) {
            page-break-after: always; /* CSS 2.1 syntax */
            break-after: always; /* New syntax */
          }
        }
      }
      h1 {
        text-align: center;
      }

      a {
        border-radius: 1.5em;
        font-size: 1.5em;
        padding: 0.5em;
        background-color: $color;
        text-decoration: none;
        color: rgb(255, 255, 255);
        text-align: center;
        margin-bottom: 3rem;
        transition: all 0.5s;
        .icon {
          float: left;
        }
        &:hover {
          box-shadow: $shadow-far;
          transform: scale(1.5);
        }
        &:active {
          transform: scale(1.25);
        }
      }
    }

    .footer {
      margin: 2em;
      text-align: center;
      @media #{$mobile} {
        margin: 0.5rem;
      }
    }

    .blag {
      margin: 6em;
      text-align: center;

      a {
        text-decoration: none;
        font-size: 1.5em;
        padding: 0.9em 1.8em;
        border-radius: 1em;
        color: #fff;
        background: linear-gradient(120deg, $hotpink, $purple);
        transition: 0.3s;

        &:hover {
          padding: 1em 2em;
          box-shadow: 0px 40px 80px rgba($color: $pink, $alpha: 0.5);
        }
      }
      @media #{$mobile} {
        margin: 3em 1em 8rem;
        // margin-bottom: 6em;
        a {
          padding: 0.5em 1em;
        }
      }
    }

    .facebook {
      background: linear-gradient(60deg, #3b5998, #487ef0);
    }
    .twitter {
      background: linear-gradient(60deg, #6798ff, #2beecd);
    }
    .github {
      background: linear-gradient(60deg, #181a1f, #404859);
    }
    .behance {
      background: linear-gradient(60deg, #f51761, #152fa3);
    }
    .telegram {
      background: linear-gradient(60deg, #3b5998, #d748f0);
    }
    .instagram {
      background: linear-gradient(60deg, #fa3378, #f59817);
    }
  }
}
