---
import Layout from "../../../layouts/MainLayout.astro";
import TagList from "../../../components/tagList.astro";
import BlogGrid from "../../../components/blogGrid.astro";
import { tagStaticPaths, filteredByTag } from "../../../lib/dataAstro";


export async function getStaticPaths() {
  return tagStaticPaths;
}

const { tag } = Astro.props;
const entries = filteredByTag(tag).map((e) => e.slug)
---

<Layout title={`Blog `}>
  <main class="blog-index">
    <div class="blog-header">
      <h2>#{tag}</h2>
      <a class="text-gradient-fx" href="/blag">Blag</a>
    </div>
    <div class="blog-wrapper">
      <BlogGrid entries={entries} />
      <TagList />
    </div>
  </main>
</Layout>

<style>
  .blog-index {
    margin: 0 auto;
  }

  .blog-wrapper {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }

  .blog-header {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    flex-wrap: wrap;
  }

  .blog-header a {
    color: var(--fadeText);
  }
  .blog-header h2 {
    background: var(--surface);
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    color: var(--heading);
  }

  @media (max-width: 768px) {
    .blog-wrapper {
      flex-direction: column;
    }
    .tags-list {
      max-width: 100%;
    }
  }
  @media (max-width: 390px) {
    .blog-header {
      gap: 0;
      margin-bottom: 2rem;
    }
    .blog-header h1,
    .blog-header h2 {
      margin: 0;
    }
  }
</style>
