---
import Layout from "../../layouts/MainLayout.astro";
import { Nameman as NamemanSolid } from "../../tools/nameman";
import PageHeader from "../../components/pageHeader.astro";

const meta = {
  title: "NamemaN",
  description: "The Name Generator",
}
---

<Layout title={meta.title} meta={meta}>
  <PageHeader {...meta} />
  <main>
    <NamemanSolid client:only />
  </main>
</Layout>

<style>
  main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    gap: 2rem;
    width: 100%;
  }
</style>
