---
import BaseLayout from "../layouts/BaseLayout.astro";
import Nav from "./nav.astro";
import { defaultCss } from "./theme";
import type { BaseLayoutProps } from "../dataTypes";

interface Props extends BaseLayoutProps {}

const props = Astro.props;
---

<BaseLayout
  {...props}
  hideNav
  showLoading={false}
  htmlClass="poems-root"
  meta={{
    ...props.meta,
    image: "/poems-social.png",
  }}
  themeCssVars={defaultCss}
>
  <Fragment slot="head"></Fragment>
  <div class="background"></div>
  <Nav />
  <slot />
  <footer>
    <a href="/mirage/">Mirage</a> by <a href="/">xypnox</a>
  </footer>
</BaseLayout>

<style is:global>
  html {
    font-family: var(--font-family);
    color: var(--text);
    background-color: #000;
    font-size: var(--font-size-base);
    min-height: 100vh;
    scroll-behavior: smooth;
  }
  body {
    margin: 0 auto;
    max-width: var(--layout-content-wide);
    min-height: 100vh;
  }
  button,
  input,
  select,
  textarea {
    font-size: 100%;
    font-family: var(--font-family);
    color: var(--text);
  }

  footer {
    margin: 2rem 1rem 12rem;
    text-align: center;
  }

  a {
    color: var(--primary);
  }

  *:focus-visible {
    outline: 2px solid var(--primary-color);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin: 0;
  }

  h1,
  h2,
  h3 {
    line-height: 1.2;
  }

  .background {
    position: fixed;
    top: 0;
    left: 0;
    width: 120%;
    height: 120%;
    z-index: -1;
    background: linear-gradient(
        120deg,
        rgba(40, 30, 60, 0.8),
        rgba(0, 0, 0, 0.2)
      );
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
</style>
