---
import Card from "./card.astro";
import DownSurfaceElement from "./downSurfaceElement.astro";

const links = [
  {
    label: "Colors",
    url: "#colors",
  },
  {
    label: "Typography",
    url: "#typography",
  },
  {
    label: "Components",
    url: "#components",
  },
];


const NavLink = DownSurfaceElement
---

<Card element="nav" class="navbar">
  <div class="site-title">
    <a href="#hero"> Mirage</a>
  </div>
  <div class="navLinks">
    {
      links.map((link) => {
        return <NavLink
          element="a" props={{href:link.url}}>{link.label}</NavLink>;
      })
    }
  </div>
</Card>

<style>
  :global(.navbar) {
    z-index: 100;
    position: sticky;
    top: 1rem;
    width: 100%;
  }

  :global(.navbar) :global(.inner) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem 2rem;
  }

  .site-title a {
    font-size: var(--font-size-md);
    color: var(--color-white);
    text-decoration: none;
  }

  a {
    color: var(--heading);
    text-decoration: none;
  }

  .navLinks {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
  }

  .navLinks :global(a) {
    color: var(--heading);
    text-decoration: none;
  }
</style>
