.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
  margin-top: 2rem;
  margin-bottom: 1rem;
  color: var(--heading);
  font-family: var(--font-family);
}

.content p {
  text-wrap: stable;
  margin: 0.5em 0 1em 0;
}

.content em {
  color: var(--italic);
}

.content iframe {
  margin: 0 0 2rem;
}

.content ul {
  margin: 0;
}

.content li {
  margin: 1rem 0;
}
.content li::marker {
  color: var(--primary-color);
}
.content li:first-child {
  margin: 0rem 0 1rem;
}
.content blockquote {
  margin: 0;
  margin-bottom: 2rem;
  padding: 0.5rem 1.5rem;
  background-color: var(--surface);
  border-left: 2px var(--border-style) var(--primary-color);
  border-radius: var(--border-radius);
}

.content blockquote p:last-child {
  margin-bottom: 0.5rem;
}

.content table {
  border-collapse: collapse;
  width: 100%;
  margin: 2rem 0;
}

.content table th {
  font-family: "Jost", serif;
  border: 1px solid var(--border-color);
  border-bottom: 2px solid var(--heading);
  background-color: var(--surface);
  padding: 0.5rem;
  color: var(--heading);
}

.content table td {
  border: 1px solid var(--border-color);
  padding: 0.5rem;
}

.content a {
  color: inherit;
	text-decoration: none;
	border-bottom: 2px var(--border-style) var(--colors-purple);
	transition: border 1s ease;
  word-break: break-word;
}

.content a:hover {
  border-bottom: 2px solid var(--primary-color);
}

.theme-card {
  transition: all 0.3s ease;
  background: var(--card-background);
  border: var(--card-border);
  background-size: var(--card-backgroundSize);
  background-position: var(--card-backgroundPosition);
}

.theme-card:hover {
  background-position: var(--card-backgroundPositionHover);
  border: var(--card-borderHover);
}

.content img {
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  display: block;
}

.content p > img {
  height: auto;
  margin: 0 auto;
}

@media (min-width: calc(1232px)) {
  .content p > img {
    max-width: calc(var(--layout-content-wide) - 32px);
    height: auto;
    margin: 0 auto;
    position: relative;
    z-index: 1;
  }
}
@media (max-width: 1232px) {
  .content p > img {
    max-width: 100%;
  }
}

.content pre {
  max-width: 100%;
  overflow-x: auto;
}

.content pre.astro-code {
  padding: 1rem;
  font-size: var(--font-size-sm);
  border-radius: var(--border-radius);
  border: 1rem solid var(--surface);
  background-position: var(--card-backgroundPosition);
}

.all-transition {
  transition: all 0.3s ease;
}

.content .color_swatch {
  display: inline-block;
  width: 1.25rem;
  height: 1.25rem;
  margin-left: -2rem;
  border-radius: 50%;
  margin-right: 0.5rem;
  vertical-align: middle;
  background-color: var(--color);
}

.content ul:has(.color_swatch) {
  list-style-type: none;
  padding-left: 2rem;
}
