.content {
  --step--2: clamp(0.7813rem, 0.7526rem + 0.0763vw, 0.8442rem);
  --step--1: clamp(0.9375rem, 0.8521rem + 0.2276vw, 1.1253rem);
  --step-0: clamp(1.125rem, 0.9545rem + 0.4545vw, 1.5rem);
  --step-1: clamp(1.35rem, 1.0548rem + 0.7873vw, 1.9995rem);
  --step-2: clamp(1.62rem, 1.1448rem + 1.2671vw, 2.6653rem);
  --step-3: clamp(1.944rem, 1.2127rem + 1.9502vw, 3.5529rem);
  --step-4: clamp(2.3328rem, 1.2404rem + 2.913vw, 4.736rem);
  --step-5: clamp(2.7994rem, 1.2022rem + 4.2591vw, 6.3131rem);
}
.content > h1,
.content > h2,
.content > h3,
.content > h4,
.content > h5,
.content > h6 {
  margin-top: 2em;
  color: var(--heading);
  font-family: var(--font-family);
}

.content p {
  text-wrap: stable;
}

.content > p {
  margin-block-end: 1em;
}
.content > * + * {
  margin-block-start: 1em;
}

.content em {
  color: var(--italic);
}

.content iframe {
  margin-block-end: 2em;
}

.content li::marker {
  color: var(--primary-color);
}

.content blockquote {
  margin-inline: 0;
  padding: 1em;
  background-color: var(--surface);
  border-left: 2px var(--border-style) var(--primary-color);
  border-radius: var(--border-radius);
}

.content blockquote > p:first-child {
  margin-block-start: 0;
}

.content table {
  border-collapse: collapse;
  width: 100%;
  margin: 2rem 0;
}

.content table th {
  border: 1px solid var(--border-color);
  border-bottom: 2px solid var(--heading);
  background-color: var(--surface);
  padding: 0.5rem;
  color: var(--heading);
}

.content table td {
  border: 1px solid var(--border-color);
  padding: 0.5rem;
}

.content a {
  color: inherit;
  text-decoration: none;
  border-bottom: 1px var(--border-style) var(--colors-purple);
  transition: border 1s ease;
  word-break: break-word;
}

.content a:hover {
  color: var(--primary-color);
  border-bottom: 1px solid var(--primary-color);
}

.theme-card {
  transition: all 0.3s ease;
  background: var(--card-background);
  border: var(--card-border);
  background-size: var(--card-backgroundSize);
  background-position: var(--card-backgroundPosition);
}

.theme-card:hover {
  background-position: var(--card-backgroundPositionHover);
  border: var(--card-borderHover);
}

.content img {
  max-width: 100%;
  height: auto;
  margin-inline: auto;
  display: block;
}

.content p > img {
  height: auto;
  margin-inline: auto;
}

.content figure p img {
  width: 100%;
}

@media (min-width: calc(1232px)) {
  .content[data-wider="true"] {
    p > img {
      max-width: calc(var(--layout-content-wide) - 32px);
      height: auto;
      margin-inline: auto;
      position: relative;
      z-index: 1;
    }

    .wide-wrapper {
      width: calc(var(--layout-content-wide) - 32px);
      max-width: calc(var(--layout-content-wide) - 32px);
      height: auto;
      margin-inline: auto;
      position: relative;
      z-index: 1;
    }
  }
}

@media (max-width: 1232px) {
  .content p > img {
    max-width: 100%;
  }
}

.content figure {
  padding: 1rem;
  border-radius: calc(3 * var(--border-radius));
  border: 1px solid var(--border-color);
  background: var(--background);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.content figure p {
  margin: 0;
}

.content figure img {
  border-radius: var(--border-radius);
}

.content figure figcaption {
  font-size: 0.95rem;
  color: var(--fadeText);
  text-align: center;
  transition: color 0.3s ease;
}

.content figure:hover figcaption {
  color: var(--text);
}

.content svg.figure {
  display: block;
  height: auto;
  width: 100%;
  max-width: 100%;
  color: var(--heading);
}

@media (max-width: 1200px) {
  .content svg.figure {
    height: 100%;
  }
}

.content pre {
  max-width: 100%;
  overflow-x: auto;
}

.content pre.astro-code {
  padding: 1rem;
  font-size: var(--font-size-sm);
  border-radius: var(--border-radius);
  border: 1rem solid var(--surface);
  background-position: var(--card-backgroundPosition);
}

.all-transition {
  transition: all 0.3s ease;
}

.content .color_swatch {
  display: inline-block;
  width: 1.25rem;
  height: 1.25rem;
  margin-left: -2rem;
  border-radius: 50%;
  margin-right: 0.5rem;
  vertical-align: middle;
  background-color: var(--color);
}

.content ul:has(.color_swatch) {
  list-style-type: none;
  padding-left: 2rem;
}

.content sup:has(a) {
  display: inline-block;
  margin: 0;
  line-height: 1;
  vertical-align: text-top;
}

/* .content sup:has(a):before { */
/*   content: '['; */
/*   color: var(--fadeText); */
/* } */
/* .content sup:has(a):after { */
/*   content: ']'; */
/*   color: var(--fadeText); */
/* } */
.content sup:has(a) a {
  font-size: 0.85rem;
  font-weight: 600;
  color: var(--fadeText);
  text-decoration: none;
  padding: 0 0.3rem;
  border-bottom: none;
  border-radius: var(--border-radius);
  transition: all 0.2s ease;
  background: var(--surface);
}

.content sup:has(a) a:hover {
  color: var(--primary-color);
  background-color: var(--surface);
}
