* {
  box-sizing: border-box;
}

html {
  min-height: 100vh;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 1rem;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1rem 0;
}

h1,
h2,
h3 {
  line-height: 1.2;
}

