---
import { getCollection } from "astro:content";
import Layout from "../../layouts/BaseLayout.astro";
import Blag from "../../vectors/blag.astro";
import Tag from "../../components/Tag.astro";
import BlogPostCard from "../../components/BlogPostCard.astro";

const blogEntriesAll = await getCollection("blog");

console.log({ blogEntries: blogEntriesAll.map((entry) => entry.slug) });

const blogEntries = blogEntriesAll
  .sort((a, b) => {
    const [aDateNum, bDateNum] = [a.data.date.getTime(), b.data.date.getTime()];
    return bDateNum - aDateNum;
  })
  .filter((blogPostEntry) => {
    return blogPostEntry.slug.split("/").length === 1;
  });

const allTags: string[] = blogEntriesAll
  .map((blogPostEntry) => blogPostEntry.data.tags)
  .flat()
  .filter((tag) => tag !== undefined) as string[];
---

<Layout title="Blog">
  <main class="blog-index">
    <header>
      <Blag />
      <p>
        I write about things I learn, things I make, and things I think about.
      </p>
    </header>

    <div class="blog-wrapper">
      <div class="blog-list">
        {
          blogEntries.map((blogPostEntry) => (
            <BlogPostCard slug={blogPostEntry.slug} />
          ))
        }
      </div>
      <div class="tags-list">
        <h3>Tags</h3>
        <ul>
          {
            [...new Set(allTags)].map((tag) => (
              <li>
                <Tag tag={tag} />
              </li>
            ))
          }
        </ul>
      </div>
    </div>
  </main>
</Layout>

<style>
  .blog-index {
    max-width: 1000px;
    margin: 0 auto;
  }
  .blog-index header {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 4rem 0;
  }

  .blog-index header :global(svg) {
    width: 100%;
    max-width: 400px;
    height: auto;
  }

  .blog-index header p {
    margin: 0;
    font-size: var(--font-size-md);
  }

  .blog-list {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    flex-grow: 1;
    width: 100%;
  }

  .blog-wrapper {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }

  .tags-list {
    max-width: 10rem;
  }

  .tags-list ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 0.5rem;
  }

  @media (max-width: 768px) {
    .blog-wrapper {
      flex-direction: column;
    }
    .blog-list {
      flex-direction: column;
    }
    .tags-list {
      max-width: 100%;
    }
  }
</style>
