---
import Layout from "../../layouts/BaseLayout.astro";
import Blag from "../../vectors/blag.astro";
import TagList from "../../components/tagList.astro";
import { blogEntries } from '../../lib/dataAstro'
import BlogGrid from "../../components/blogGrid.astro";
---

<Layout title="Blog">
  <main class="blog-index">
    <header>
      <Blag />
      <p>
        I write about things I learn, things I make, and things I think about. <a href="/rss.xml" target="_blank" rel="noopener noreferrer">
        RSS
      </a>
      </p>
    </header>

    <div class="blog-wrapper">
      <BlogGrid entries={blogEntries.map(e => e.slug)} />
      <TagList />
    </div>
  </main>
</Layout>

<style>
  .blog-index {
    width: 100%;
    margin: 0 auto;
  }
  .blog-index header {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 4rem 0;
  }

  .blog-index header :global(svg) {
    width: 100%;
    max-width: 200px;
    height: auto;
  }

  .blog-index header p {
    margin: 0;
    font-size: var(--font-size-md);
  }

  .blog-wrapper {
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }

  @media (max-width: 768px) {
    .blog-wrapper {
      flex-direction: column;
    }
    .blog-list {
      flex-direction: column;
    }
    .tags-list {
      max-width: 100%;
    }
  }
</style>
