---
import PoemLayout from "../../layouts/PoemLayout.astro";
import { sortedPoems } from "../../lib/dataAstro";

// console.log({ sortedPoems });

const dateFormatOption = {
  day: "numeric",
  month: "long",
  year: "numeric",
} as const;
---

<PoemLayout
  title="Poems - by xypnox"
  meta={{
    title: "Poems - by xypnox",
    description: "The best poems are the ones we write for ourselves.",
  }}
>
  <header>
    <h1 class="title">Poems</h1>
    <h2 class="by-line">by <a href="/">xypnox</a>
    </h2>
    <p class="description">
      The best poems are the ones<br />
      we write for ourselves
    </p>
  </header>

  <div class="poems">
    {
      sortedPoems.map((poem) => (
        <div class="poem">
          <a href={"/poems/" + poem.slug}>
            <h2>{poem.data.title}</h2>

            <time datetime={poem.data.date.toISOString()}>
              {poem.data.date.toLocaleDateString("en-US", dateFormatOption)}
            </time>
          </a>
        </div>
      ))
    }
  </div>
</PoemLayout>

<style>
  .title {
    font-size: var(--font-size-xxxl);
    text-align: center;
    margin-bottom: 0rem;
    font-family: var(--poems-headingFont);
    font-weight: 700;
    font-style: italic;
  }
  .by-line {
    font-size: var(--font-size-lg);
    text-align: center;
    font-weight: normal;
    margin: 0rem 0rem;
    font-style: italic;
  }
  .by-line a {
    text-decoration-style: dashed;
    text-decoration-color: var(--poems-fadeText);
  }
  .description {
    font-size: var(--font-size-md);
    text-align: center;
    margin: 1rem 0 5rem;
    color: var(--poems-fadeText);
  }

  .poems {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .poem {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    border-radius: 0.5rem;
    transition: background-color 0.2s ease-in-out;
  }

  .poem:hover {
    background-color: var(--poems-surface);
  }

  .poem a {
    text-decoration: none;
  }

  .poem h2 {
    font-size: var(--font-size-xl);
    margin: 0;
    font-family: var(--poems-headingFont);
    font-weight: 700;
    font-style: italic;
    color: var(--poems-heading);
    margin-bottom: 0.5rem;
  }
  .poem time {
    font-size: var(--font-size-base);
    color: var(--poems-fadeText);
    padding-left: 0.25rem;
  }

</style>
