---
import Layout from  '../layouts/MainLayout.astro';
---

<Layout showLoading={false} title="Blank Page" meta={{description: "This page has been left blank unintentionally."}}>
  <div style="height: 40dvh; display: flex; align-items:center; justify-content: center;">
    This page has been left blank unintentionally.
  </div>
</Layout>
