<div style="margin: auto; max-width: 20ch;">
  This page has been left blank unintentionally.
</div>

<style>
* { box-sizing: border-box; }
body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
</style>
