---
import Layout from "../layouts/MainLayout.astro";
import PageHeader from "../components/pageHeader.astro";
import ThemeManager from "../components/themeManager";
---

<Layout title="Customize">
  <main>
    <PageHeader title="Customize" />
    <section>
      <ThemeManager client:only />
    </section>
  </main>
</Layout>

<style>
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0 auto;
    max-width: 800px;
  }

  section {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: var(--layout-border-radius);
    padding: 2rem;
    border: var(--card-border);
  }
</style>
