---
import Layout from "../layouts/BaseLayout.astro";
import Links from "../components/profileLinks.astro";
import Container from "../components/container.astro";
import XypnoxEase from "../vectors/xypnoxEase.astro";
import { icons } from "../content/icons";
import LatestBlog from "../components/latestBlog.astro";
---

<Layout title="xypnox">
  <main>
    <div class="intro">
      <XypnoxEase />
      <h1>Hi, I am <span class="text-gradient-fx-constant">xypnox</span>.</h1>
      <p>I design/develop interfaces.</p>
      <p>This is the lair, a collection of my works, designs, and writings.</p>
    </div>

    <div class="containers">
      <Container
        title="Dev"
        image="/skills/dev.svg"
        links={[
          { title: "Projects", href: "/projects" },
          { title: "Experiments", href: "https://xypnox.studio" },
          { title: "Github", href: "https://github.com/xypnox" }
        ]}>
        <p slot="description">Where I jostle with bits in wondorous ways.</p>
      </Container>

      <Container title="Design"
        image="/skills/design.svg"
        linkTitle="/design"
        links={[
          { title: "Covers", href: "/design/covers" },
          { title: "Logos", href: "/design/logos" },
          { title: "Experiments", href: "https://xypnox.studio" },
          { title: "Posters", href: "https://posters.xypnox.com" },
          { title: "Behance", href: "https://www.behance.net/xypnox/" },
        ]}
        >
        <p slot="description">Where the art is (a part of) the project.</p>
      </Container>

      <Container title="Literature"
        image="/skills/lit.svg"
        links={[
          { title: "Blag", href: "/blag"},
          { title: "Poems", href: "https://poems.xypnox.com"},
          { title: "Why xypnox", href: "/why-xypnox"},
        ]}
        >
        <p slot="description">Where the pen runs uninterrupted and the ink never runs dry.</p>
      </Container>
    </div>

    <div class="blog-and-links">
      <Container linkTitle="/blag" title="Blag">
        <LatestBlog />
      </Container>

      <Container icon={icons.links}>
        <Links />
      </Container>

      <Container title="Collaborate @">
        <a href="https://x5z.studio">x5z.studio</a>
      </Container>
      <p>PSA: The navbar is at the bottom & the content is 100% human generated.</p>
    </div>
  </main>
</Layout>

<style>
  html {
    background-color: var(--background);
    background-image: url("/back.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  main {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
    padding: 1.5rem;
    margin-top: 4rem;
  }

  .intro {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
    width: 100%;
    max-width: 1200px;
    font-size: var(--font-size-lg);
  }

  .intro p {
    margin: 0;
  }

  .containers {
    width: 100%;
    max-width: 1200px;
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }

  .blog-and-links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
    width: 100%;
    max-width: 1200px;
  }

  main a {
    display: flex;
    padding: 0.5rem;
    justify-content: center;
    text-decoration: none;
    width: 100%;
    color: var(--text);
    background: var(--surface);
    font-size: 1.5rem;
    border-radius: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.2s ease-in-out;
  }
  main a:hover {
    color: var(--primary-color);
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
  }
</style>
