---
import Layout from "../layouts/MainLayout.astro";
import Links from "../components/profileLinks.astro";
import Container from "../components/container.astro";
import XypnoxEase from "../vectors/xypnoxEase.astro";
import LatestBlog from "../components/latestBlog.astro";
---

<Layout title="xypnox">
  <main>
    <div class="intro">
      <XypnoxEase />
      <div class="intro-content">
        <h1>Hi, I am <span class="text-gradient-fx-constant">xypnox</span>.</h1>
        <p class="subline">I design/develop interfaces.</p>
        <p>The lair for works, designs, & writings.</p>
        <p><a href="/now/">What am I upto?</a></p>
      </div>
    </div>

    <div class="containers">
      <Container
        title="Dev"
        icon="dev"
        color="var(--colors-dev)"
        links={[
          { title: "Projects", href: "/projects/", desc: "Software I have worked on" },
          { title: "Tools", href: "/tools/", desc: "A collection of utilities" },
          { title: "Experiments", href: "https://xypnox.studio", desc: "A place to experiment with frontend" },
          { title: "Github", href: "https://github.com/xypnox", desc: "Repositories and open code" },
          { title: "dotfiles", href: "https://github.com/xypnox/dotfiles", desc: "Configuration files for system" },
        ]}
      >
        <p slot="description">
          Building something is a reward in and of itself.
        </p>
      </Container>

      <Container
        title="Design"
        icon="design"
        linkTitle="/design/"
        color="var(--colors-design)"
        links={[
          { title: "Customize", href: "/customize/", desc: "Customize the look of this site" },
          { title: "Covers", href: "/design/covers/", desc: "Covers of Spotify playlists" },
          { title: "Logos", href: "/design/logos/", desc: "Logos I have designed/refined" },
          { title: "Prototypes", href: "/design/prototypes/", desc: "Prototypes and other design assets" },
          // { title: "Experiments", href: "https://xypnox.studio" },
          // { title: "Posters", href: "https://posters.xypnox.com", desc: "Posters I designed during college" },
          // { title: "Behance", href: "https://www.behance.net/xypnox/", desc: "A few works on Behance" },
        ]}
      >
        <p slot="description">
          Utility and function are nothing without beauty.
        </p>
      </Container>

      <Container
        title="Literature"
        icon="literature"
        color="var(--colors-literature)"
        links={[
          { title: "Blag", href: "/blag/", desc: "Blog, long form prose" },
          { title: "Poems", href: "/poems/", desc: "Short works that sometimes rhyme" },
          { title: "Library", href: "/library/books/", desc: "A library (sort of)" },
          { title: "Why xypnox", href: "/why-xypnox/", desc: "Why I chose this nom de guerre" },
        ]}
      >
        <p slot="description">With language, we can write how we think.</p>
      </Container>
    </div>

    <div class="blog-and-links">
      <LatestBlog />

      <Links />
      <div class="collaborate theme-card">
        <p>Book a short meeting @ <a href="https://cal.com/xypnox/30min">cal.com/xypnox</a></p>
        <p>For larger projects collaborate @ <a href="https://x5z.studio">x5z.studio</a></p>
      </div>
    </div>
  </main>
</Layout>

<style>
  html {
    /* background-color: var(--background); */
    /* background-image: url("/back.svg"); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  main {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
    margin-top: 4rem;
  }

  .intro {
    display: flex;
    align-items: center;
    gap: 2.5rem;
    width: 100%;
    max-width: 1200px;
    color: var(--text);
    padding: 2rem;
    border-radius: calc(var(--border-radius) * 4);
    border: var(--card-border);
  }

  @media (max-width: 30em) {
    .intro {
      flex-direction: column;
    }
  }

  .intro :global(.wrapper) {}

  .intro-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    flex-basis: 70%;
  }

  .intro-content h1 {
    margin: 0;
    font-size: var(--font-size-lg);
  }

  .intro-content p {
    margin: 0;
    color: var(--fadeText);
  }

  .intro .subline {
    font-size: var(--font-size-md);
    color: var(--text);
  }

  .intro a {
    font-size: var(--font-size-base);
  }

  .containers {
    width: 100%;
    max-width: 1200px;
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }

  @media (max-width: 400px) {
    .containers {
      grid-template-columns: 1fr;
    }
  }

  .blog-and-links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4rem;
    width: 100%;
    max-width: 1200px;
  }

  main .containers a {
    display: flex;
    padding: 0.5rem;
    justify-content: center;
    text-decoration: none;
    width: 100%;
    color: var(--text);
    background: var(--surface);
    font-size: 1.5rem;
    border-radius: calc(var(--border-radius) * 2);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.2s ease-in-out;
  }
  main .containers a:hover {
    color: var(--primary-color);
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
  }

  .collaborate {
    width: 100%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    font-size: var(--font-size-base);
    border-radius: calc(var(--border-radius) * 2);
    gap: 1rem;
  }
  .collaborate p {
    margin: 0;
  }
  .collaborate a {
    display: inline;
    background: none;
    font-size: var(--font-size-xm);
    text-decoration: underline;
    padding: 0;
  }
</style>
