---
import Layout from "../layouts/BaseLayout.astro";
import Links from "../components/profileLinks.astro";
import Container from "../components/container.astro";
import XypnoxEase from "../vectors/xypnoxEase.astro";
import { icons } from "../content/icons";
---

<Layout title="xypnox">
  <main>
    <div class="intro">
      <XypnoxEase />
      <h1>Hi, I am <span class="text-gradient">xypnox</span>.</h1>
      <p>I design/develop interfaces.</p>
      <p>This is the lair, the start page, the home to the digital.</p>
    </div>

    <Container title="Dev" icon={icons.dev}>
      <p slot="description">Where the bits are run and spun in wondorous ways.</p>
      <a href="/projects">Projects</a>
      <a href="https://xypnox.studio">Studio</a>
      <a href="https://github.com/xypnox">Github</a>
    </Container>

    <Container title="Design" icon={icons.design}>
      <p slot="description">Where the decision of what to be shown and how is made.</p>
      <a href="/design/covers">Covers</a>
      <a href="/design/logos">Logos</a>
      <a href="https://posters.xypnox.com">Posters</a>
      <a href="https://xypnox.studio">Studio</a>
      <a href="https://www.behance.net/xypnox/">Behance</a>
    </Container>

    <Container title="Literature" icon={icons.lit}>
      <p slot="description">Where the pen is set free and ink never runs dry.</p>
      <a href="/blag">Blag</a>
      <a href="https://poems.xypnox.com">Poems</a>
      <a href="/why-xypnox">Why xypnox</a>
    </Container>

    <Container icon={icons.links}>
      <Links />
    </Container>

    <Container title="Services @">
      <a href="https://x5z.studio">x5z.studio</a>
      <!-- <div> -->
      <!--   <p>So you wanna collab?</p> -->
      <!--   <p>Drop me a mail</p> -->
      <!--   <a href="mailto:collab@xypnox.com">collab@xypnox.com</a> -->
      <!-- </div> -->
    </Container>
    <p>PSA: The navbar is at the bottom.</p>
  </main>
</Layout>

<style>
  html {
    background-image: url("/back.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  main {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
    padding: 1.5rem;
    max-width: 800px;
    margin-top: 4rem;
  }

  .intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    text-align: center;
    font-size: var(--font-size-lg);
  }

  .intro img {
    width: 100%;
    height: auto;
    max-width: 400px;
    border-radius: 50%;
    background: var(--background);
    border: 4px solid var(--border);
  }

  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  .text-gradient {
    --gradient-color-1: var(--primary-color);
    --gradient-color-2: var(--colors-purple);
    background: linear-gradient(-60deg,  var(--gradient-color-1), var(--gradient-color-2), var(--gradient-color-1), var(--gradient-color-2), var(--gradient-color-1), var(--secondary-color), var(--gradient-color-1), var(--gradient-color-2));
    background-size: 200% 200%;
    animation: gradient 4s ease infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  main a {
    display: flex;
    padding: 0.5rem;
    justify-content: center;
    text-decoration: none;
    width: 100%;
    color: var(--text);
    background: var(--surface);
    font-size: 1.5rem;
    border-radius: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.2s ease-in-out;
  }
  main a:hover {
    color: var(--primary-color);
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
  }
</style>
