---
import Layout from "../layouts/Layout.astro";
import { HoverLogo } from "../components/hoverLogo";
import { links } from '../content/navLinks';
---

<Layout title="xypnox">
  <main>
    <HoverLogo client:load />
    <div class="introduction">
      <h1>Hi, I am xypnox!</h1>
      <p>I like to <a href={links.code.url}>code</a>, <a href={links.art.url}>design </a> and <a href={links.text.url}>write</a>
      <p>This here is my personal website.</p>
    </div>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    padding: 1.5rem;
    max-width: 80ch;
    height: 100%;
  }

  .introduction {
    font-size: 2rem;
    line-height: 1.5;
    text-align: left;
  }

  .introduction h1 {
    font-size: 4rem;
    margin: 0;
    font-weight: normal;
  }
</style>
