---
import Layout from "../layouts/BaseLayout.astro";
import Links from "../components/profileLinks.astro";
import Container from "../components/container.astro";
import XypnoxEase from "../vectors/xypnoxEase.astro";
import { icons } from "../content/icons";
---

<Layout title="xypnox">
  <main>
    <div class="intro">
      <XypnoxEase />
      <h1>Hi, I am <span class="text-gradient-fx-constant">xypnox</span>.</h1>
      <p>I design/develop interfaces.</p>
      <p>This is the lair, the start page, <br /> the home to the digital.</p>
    </div>

    <Container title="Dev"
      links={[
        {
          title: "Projects",
          href: "/projects"
        },
        {
          title: "Studio",
          href: "https://xypnox.studio"
        },
        {
          title: "Github",
          href: "https://github.com/xypnox",
        }
      ]}
      icon={icons.dev}>
      <p slot="description">Where the bits are run and spun in wondorous ways.</p>
    </Container>

    <Container title="Design"
      links={[
        { title: "Covers", href: "/design/covers" },
        { title: "Logos", href: "/design/logos" },
        { title: "Studio", href: "https://xypnox.studio" },
        { title: "Posters", href: "https://posters.xypnox.com" },
        { title: "Behance", href: "https://www.behance.net/xypnox/" },
      ]}
      icon={icons.design}>
      <p slot="description">Where the decision of what to be shown and how is made.</p>
    </Container>

    <Container title="Literature"
      links={[
        { title: "Blag", href: "/blag"},
        { title: "Poems", href: "https://poems.xypnox.com"},
        { title: "Why xypnox", href: "/why-xypnox"},
      ]}
      icon={icons.lit}>
      <p slot="description">Where the pen is set free and ink never runs dry.</p>
    </Container>

    <Container icon={icons.links}>
      <Links />
    </Container>

    <Container title="Services @">
      <a href="https://x5z.studio">x5z.studio</a>
      <!-- <div> -->
      <!--   <p>So you wanna collab?</p> -->
      <!--   <p>Drop me a mail</p> -->
      <!--   <a href="mailto:collab@xypnox.com">collab@xypnox.com</a> -->
      <!-- </div> -->
    </Container>
    <p>PSA: The navbar is at the bottom.</p>
  </main>
</Layout>

<style>
  html {
    background-color: var(--background);
    background-image: url("/back.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  main {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
    padding: 1.5rem;
    max-width: 800px;
    margin-top: 4rem;
  }

  .intro {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
    width: 100%;
    font-size: var(--font-size-lg);
  }

  main a {
    display: flex;
    padding: 0.5rem;
    justify-content: center;
    text-decoration: none;
    width: 100%;
    color: var(--text);
    background: var(--surface);
    font-size: 1.5rem;
    border-radius: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.2s ease-in-out;
  }
  main a:hover {
    color: var(--primary-color);
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
  }
</style>
