---
import Layout from "../layouts/BaseLayout.astro";
import { HoverLogo } from "../components/hoverLogo";
import Links from "../components/profileLinks.astro";
---

<Layout title="xypnox">
  <main>
    <HoverLogo client:load />
    <div>
      <p>Hi, I am xypnox!</p>
      <p>I like to code, design, write, sometimes poetry.</p>
      <p>I love music, books, art, space and nature.</p>
      <p>I prefer to listen and think, watch and learn.</p>
    </div>
    <a href="/blag">Blag</a>
    <a href="/design">Design</a>
    <a href="/why-xypnox">Why xypnox</a>
    <a href="https://xypnox.studio">Studio</a>
    <a href="https://posters.xypnox.com">Posters</a>
    <a href="https://poems.xypnox.com">Poems</a>
    <Links />
  </main>
</Layout>

<style>
  main {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
    padding: 1.5rem;
    max-width: 60ch;
    margin-top: 4rem;
  }
</style>
