---
import Layout from "../layouts/MainLayout.astro";
import PageHeader from "../components/pageHeader.astro";
import { Tooltip } from "../components/elements/tooltip";
import { WarehouseSolidJS } from "../components/warehouse/index";
import { MasonryText } from "../components/warehouse/masonry-text";
---

<Layout title="Warehouse">
  <PageHeader title="Warehouse" />
  <Tooltip id="Hello" client:only>
    Hello <div slot="tooltip">world</div>
  </Tooltip>
  <Tooltip id="Hello" placement="right" client:only>
    <div>DivHello</div>
    <div slot="tooltip">world</div>
  </Tooltip>
  <Tooltip id="Hello" placement="right" client:only>
    <button>DivHello</button>
    <div slot="tooltip">world</div>
  </Tooltip>

  <Tooltip id="Hello" placement="bottom" client:only>
    <h1>HelloH1</h1>
    <div slot="tooltip">world</div>
  </Tooltip>
  <MasonryText client:only />
  <WarehouseSolidJS client:load />
</Layout>
