---
import Layout from "../layouts/MainLayout.astro";
import PageHeader from "../components/pageHeader.astro";
import { WarehouseSolidJS } from "../components/warehouse/index";
---

<Layout title="Warehouse">
  <PageHeader title="Warehouse" />
  <div class="warehouse-wrapper">
    <WarehouseSolidJS client:only />
  </div>
</Layout>

<style is:global>
  .warehouse-wrapper {
    position: relative;
    * {
      scroll-margin-block-start: 2rem;
    }
    h2, h3 {
      margin-block: 1em;
      padding-block-start: 2em;
      border-top: 1px dashed var(--border-color);
    }
    h2 {
      font-size: var(--font-size-xl);
    }
    h3 {
      font-size: var(--font-size-lg);
    }
  }
</style>

