---
import Layout from "../../layouts/BaseLayout.astro";
import { iconsData } from "../../content/iconsData";
import { capitalize } from "../../lib/text";
import { ImageCollage } from "../../components/imageGrid";

const icons = iconsData.map((iconCol) => ({
  ...iconCol,
  slug: iconCol.name.toLowerCase().replace(" ", "-"),
  covers: iconCol.icons.map((icon) => ({
    name: icon.replace(".svg", ""),
    path: `/icons/${icon}`,
  })),
}));
---

<Layout title="Icons">
  <h1 class="page-title">Icons</h1>
  <nav class="icons-nav">
    {
      icons.map((col) => (
        <a href={`#${col.slug}`}>
          {col.name} - {col.covers.length}
        </a>
      ))
    }
  </nav>
  <ImageCollage
    client:load
    collages={icons.map((col) => ({
      title: col.name,
      description: col.description,
      id: col.slug,
      images: col.covers.map((cov) => ({
        url: cov.path,
        thumbnail: cov.path,
        title: cov.name,
        alt: cov.name,
        link: cov.path,
      })),
    }))}
  />
</Layout>

<style>
  .page-title {
    text-align: center;
  }
  .icons-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
  }
</style>
