---
import Layout from "../../layouts/BaseLayout.astro";
import PageHeader from '../../components/pageHeader.astro'

const designSections = [
  { name: "Covers", slug: "/design/covers"},
  { name: "Logos", slug: "/design/logos"},
  { name: "Posters", slug: "https://posters.xypnox.com"},
  { name: "Experiments", slug: "https://xypnox.studio"},
]
---

<Layout title="Design">
  <PageHeader title="Design" />
  <div class="design-sections">
    {designSections.map(d =>
      <div>
        <a class="text-gradient-fx" href={d.slug}>{d.name}</a>
      </div>
    )}
  </div>
</Layout>

<style>
.design-sections {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.design-sections > div {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--font-size-xxl);
  background: var(--background);
  padding: 4rem;
  border: 1px solid var(--border);
  border-radius: 4rem;
}
</style>

