---
import { Icon } from "astro-icon";
---

<div class="not-found-icon">
  <Icon name="ph:warning-circle-duotone" />
</div>

<style>
.not-found-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}
</style>
