---
---

<div class="not-found">
  <img src="/404-robot.svg" alt="A robot confused by the juggling balls" />
</div>

<style>
  .not-found { 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    min-height: 50dvh;
    margin: 4rem auto;
    padding: 2rem;
    border: 4px dashed var(--border);
    border-radius: 2rem;
  }

  @media (max-width: 600px) {
    .not-found { 
      padding: 1rem 0rem;
      min-height: 0;
    }
  }
</style>
