---
import Icon from "astro-icon";

interface Props {
  title?: string;
  icon?: string;
}
const { title, icon } = Astro.props;
---

<div class="container-wrapper">
  {title && 
    <h1>
      {icon && <Icon name={icon} />}
      {title}
    </h1>
  }
  <slot name="description" />
  <div class="container-content">
    <slot />
  </div>
</div>

<style>
  .container-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    padding: 1rem;
    background-color: var(--background);
    border: 1px solid var(--border);
    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.5);
    border-radius: 2rem;
  }

  .container-wrapper :global(p) {
    margin: 0;
  }

  h1 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5rem;
    margin: 0;
    width: 100%;
    color: var(--text);
  }
  h1 > svg {
    width: 2rem;
    height: 2rem;
    color: var(--primary-color);
    flex-shrink: 0;
  }
  .container-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    justify-items: center;
    grid-gap: 1rem;
    grid-column-gap: 1rem;
    gap: 1rem;
  }

  @media (max-width: 768px) {
    .container-content {
      grid-template-columns: 1fr;
    }
  }
</style>
