---
const year = new Date().getFullYear();

const links = [
  {
    name: "Blag",
    link: "/blag/",
  },
  {
    name: "Rss",
    link: "/rss.xml",
  },
  {
    name: "Source",
    link: "https://github.com/xypnox/xypnox.github.io/",
  },
];
---

<footer>
  <div class="footer-row">
    <div class="navLogo"></div>
    <div class="footer-content">
      <div class="links">
        <a href="/">xypnox</a>
        <span>|</span>
        {
          links.map((link, i) => (
            <>
              <a href={link.link}>{link.name}</a>
              <span>|</span>
            </>
          ))
        }© {year}
      </div>
      <p>
        <a href="/about">About this website</a>
      </p>
      <p>
        <em>The content is 100% human generated.</em>
      </p>
    </div>
  </div>
  <div class="navbar-helper">And this is the navbar</div>
</footer>

<style>
  footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4em 0 0;
    gap: 1rem;
    padding: 4rem 0 0;
    border-top: 1px var(--border-style) var(--border-color);
  }

  .footer-content {
    width: max-content;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 100%;
  }
  .footer-row {
    display: flex;
    align-items: center;
    width: max-content;
    max-width: 100%;
    flex-wrap: wrap;
    gap: 1rem;
  }
  footer p {
    margin: 0;
  }
  .links {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    color: var(--fadeText);
    max-width: 100%;
  }

  .links a {
    font-size: var(--font-size-base);
    text-decoration: none;
    font-weight: 500;
  }

  .links a:first-child {
    font-size: 2rem;
  }

  .navbar-helper {
    width: calc(100% + 1rem);
    margin: 2rem -0.5rem -0.5rem;
    height: calc(var(--layout-nav-height) + 1rem);
    display: flex;
    align-items: center;
    padding-left: 5rem;
    border-radius: calc(var(--border-radius) * 2);
    color: var(--fadeText);
    border: 1px var(--border-style) var(--border-color);
  }

  .navLogo {
    width: 8rem;
    height: 8rem;
    flex-shrink: 0;
    --gradient-color-1: var(--fadeText);
    --gradient-color-2: var(--border-color);
    background: linear-gradient(
      -60deg,
      var(--gradient-color-1),
      var(--gradient-color-2),
      var(--gradient-color-1),
      var(--gradient-color-2),
      var(--gradient-color-1),
      var(--surface),
      var(--gradient-color-1),
      var(--gradient-color-2)
    );
    background-size: 200% 200%;
    animation: backgroundMove 25s linear infinite;
    -webkit-mask: url('data:image/svg+xml;utf8,<svg viewBox="0 0 64 64" xmlns="http://www.w3.org/2000/svg"><path d="m35.4 11.5.6.2a25.7 25.7 0 0 1 8.3 5.8l.4-.2.3-.3-.2-.2-2-1.8a20.1 20.1 0 0 0-7.4-3.5ZM20 16.9h-.4c-2.6.2-4.7 2.3-6.6 6.6a22.4 22.4 0 0 0-1.8 10.7A20.5 20.5 0 0 0 16 45.3l.4.5.4-.5.4-.5-.4-.8a18.9 18.9 0 0 1-1.5-13.8c1-3 2.8-4 5-3l2 1.4a45010.8 45010.8 0 0 0 16.7 14c2.4 2 3.4 2.7 4.7 3.4l2 .7a5 5 0 0 0 1.7 0c.5-.1 1.2-.5 1.6-.9.4-.4 1-1.3 1.6-2.5a19 19 0 0 0 2-8.7c0-1.6-.2-2.6-.4-4.1A26.1 26.1 0 0 0 46.9 19s-.2 0-.6.6l-.1.2.4.6A21.2 21.2 0 0 1 50 33.8c-.2 2-.8 4.3-1.4 5.6-.5 1-1.2 1.6-1.9 1.7-.8.2-1.8-.2-2.7-1.1A985.3 985.3 0 0 1 27 20.8C24.5 18.3 22 17 20 16.9Zm-1.2 30.2-.3.2-.3.3.3.3a24.2 24.2 0 0 0 5 3 17.8 17.8 0 0 1-4.7-3.8Z" /><path d="M48.8 15.2a694 694 0 0 0-14.4 12.2 23.6 23.6 0 0 0 2 2.4l12.4-14.6Zm-21.4 19A1128.2 1128.2 0 0 0 15.1 49l14.8-12.6-2.5-2Z" /></svg>')
      center/contain;
    mask: url('data:image/svg+xml;utf8,<svg viewBox="0 0 64 64" xmlns="http://www.w3.org/2000/svg"><path d="m35.4 11.5.6.2a25.7 25.7 0 0 1 8.3 5.8l.4-.2.3-.3-.2-.2-2-1.8a20.1 20.1 0 0 0-7.4-3.5ZM20 16.9h-.4c-2.6.2-4.7 2.3-6.6 6.6a22.4 22.4 0 0 0-1.8 10.7A20.5 20.5 0 0 0 16 45.3l.4.5.4-.5.4-.5-.4-.8a18.9 18.9 0 0 1-1.5-13.8c1-3 2.8-4 5-3l2 1.4a45010.8 45010.8 0 0 0 16.7 14c2.4 2 3.4 2.7 4.7 3.4l2 .7a5 5 0 0 0 1.7 0c.5-.1 1.2-.5 1.6-.9.4-.4 1-1.3 1.6-2.5a19 19 0 0 0 2-8.7c0-1.6-.2-2.6-.4-4.1A26.1 26.1 0 0 0 46.9 19s-.2 0-.6.6l-.1.2.4.6A21.2 21.2 0 0 1 50 33.8c-.2 2-.8 4.3-1.4 5.6-.5 1-1.2 1.6-1.9 1.7-.8.2-1.8-.2-2.7-1.1A985.3 985.3 0 0 1 27 20.8C24.5 18.3 22 17 20 16.9Zm-1.2 30.2-.3.2-.3.3.3.3a24.2 24.2 0 0 0 5 3 17.8 17.8 0 0 1-4.7-3.8Z" /><path d="M48.8 15.2a694 694 0 0 0-14.4 12.2 23.6 23.6 0 0 0 2 2.4l12.4-14.6Zm-21.4 19A1128.2 1128.2 0 0 0 15.1 49l14.8-12.6-2.5-2Z" /></svg>')
      center/contain;
  }
</style>
