.hoverLogo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.hoverLogo img {
  border-radius: 50%;
  transition: all 0.5s ease;
  width: 30dvh;
  height: auto;
}

.hoverLogo img:hover {
  box-shadow: 0 0 40px var(--primary);
}
