---
---

<nav class="navbar">
  <div class="navlinks">
    <a href="/">
      <img class="navLogo" src="/xypnox-logo.svg" alt="Logo" />
    </a>
    <a href="/blag">Blag</a>
    <a href="/design">Design</a>
  </div>
</nav>

<style>
  nav.navbar {
    position: fixed;
    bottom: 0.5rem;
    left: 1rem;
    right: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 2rem;
    background-color: var(--surface);
    width: max-content;
    margin: 0 auto;
    gap: 1rem;
    border-radius: 1rem;
    backdrop-filter: blur(1rem);
    -webkit-backdrop-filter: blur(1rem);
    transition: all 0.2s ease-in-out;
    border: 1px solid var(--border);
  }

  nav.navbar:hover {
    padding: 1.5rem 2rem;
    transform: translateY(-0.5rem);
  }

  .navbar .navlinks {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1.25rem;
  }

  .navlinks a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--text);
  }

  .navlinks a:hover {
    text-decoration: underline;
    color: var(--primary-color);
  }

  .navLogo {
    width: 2.5rem;
    height: 2.5rem;
  }
</style>
