---
interface Props {
  title: string;
  description?: string;
}
const {title, description} = Astro.props;
---


<header>
  <h1>{title}</h1>
  {description && <p>{description}</p>}
</header>

<style>
  header {
    text-align: center;
    margin-bottom: 2rem;
  }
  header h1 {
    font-size: var(--font-size-xl);
    color: var(--heading);
  }
</style>
