---
interface Props {
  title: string;
  description?: string;
  icon?: string;
}
const { title, description, icon } = Astro.props;
---

<header>
  {icon && <iconify-icon icon={icon} class="title-icon" />}
  <h1 class="text-gradient-fx">{title}</h1>
  {description && <p>{description}</p>}
  <slot />
</header>

<style>
  header {
    width: 100%;
    text-align: left;
    margin-bottom: 1rem;
  }
  header h1 {
    font-size: var(--font-size-xl);
    color: var(--heading);
  }
  header .title-icon {
    font-size: 4rem;
    color: var(--primary-color);
    margin-top: 5rem;
  }

</style>
