---
interface Props {
  title: string;
  description?: string;
  icon?: string;
}
const { title, description, icon } = Astro.props;
---

<header>
  <h1 class="text-gradient-fx">
    {
      icon && (
        <div class="title-icon">
          <iconify-icon icon={icon} class="title-icon" />
        </div>
      )
    }

    {title}
  </h1>
  {description && <p>{description}</p>}
  <slot />
</header>

<style>
  header {
    width: 100%;
    text-align: left;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
  header h1 {
    display: flex;
    align-items: center;
    font-size: var(--font-size-xl);
    gap: 0.5rem;
    color: var(--heading);
  }
  header .title-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    background: var(--primary-color);
    font-size: var(--font-size-xxl);
    color: var(--primary-contrast);
    border-radius: calc(var(--border-radius) * 4);
  }
</style>
