---
interface Props {
  title: string;
  description?: string;
  icon?: string;
}
const { title, description, icon } = Astro.props;
---

<header>
  <h1 class="text-gradient-fx">
    {icon && <iconify-icon icon={icon} class="title-icon" />}
    {title}
  </h1>
  {description && <p>{description}</p>}
  <slot />
</header>

<style>
  header {
    width: 100%;
    text-align: left;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
  header h1 {
    display: flex;
    align-items: center;
    font-size: var(--font-size-xl);
    color: var(--heading);
  }
  header .title-icon {
    font-size: 2em;
    color: var(--primary-color);
  }
</style>
