---
import { links } from "../content/links";
import { TootFeed as TootFeedSolid } from "../components/tootfeed.tsx";
---

<div class="links-wrapper">
  <h2 id="contact-and-links">Social media and other places</h2>
  <div class="links">
    {
      links.map((link) => (
        <a class="link theme-card" rel="me" href={link.url}>
          <iconify-icon icon={link.icon} />
          <span> {link.name} </span>
        </a>
      ))
    }
  </div>
  <div class="profile-feed">
    <TootFeedSolid client:load max={6} />
  </div>
</div>

<style>
  .links-wrapper {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
    border-radius: calc(var(--border-radius) * 2);
    border: var(--card-border);
    transition: all 0.5s ease-in-out;
    width: 100%;
  }
  .links {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    width: 100%;
  }
  .links-wrapper h2 {
    width: 100%;
    color: var(--heading);
    margin: 0;
    margin-bottom: 1rem;
  }
  .link {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    text-decoration: none;
    color: var(--text);
    font-size: 1rem;

    transition: all 0.5s ease-in-out;

    padding: 1rem;
    border-radius: calc(var(--border-radius) * 2);
  }

  .link:hover {
    color: var(--primary-color);
    border-color: var(--primary-color);
  }
  .link iconify-icon {
    font-size: 1.25rem;
    width: 1.25rem;
    height: 1.25rem;
    flex-shrink: 0;
  }

  .link span {
    color: var(--fadeText);
    transition: color 0.5s ease;
  }
  .link:hover span {
    color: var(--primary-color);
  }

  .profile-feed {
    font-size: 0.8rem;
  }
</style>
