---
import { links } from "../content/links";
import { Icon } from "astro-icon";
---

<div class="links-wrapper">
  <h2>Other Places</h2>

  <div class="links">
  {
    links.map((link) => (
      <a class="link theme-card" rel="me" href={link.url}>
        <Icon name={link.icon} />
        <span>
        {link.name}
        </span>
      </a>
    ))
  }
  </div>
</div>

<style>
  .links-wrapper {
    margin: 0 auto;
    padding: 2rem;
    border-radius: 1rem;
    border: var(--card-border);
    transition: all 0.5s ease-in-out; 
    width: 100%;
  }
  .links {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    width: 100%;
  }
  .links-wrapper h2 {
    width: 100%;
    color: var(--heading);
    margin: 0;
    margin-bottom: 1rem;
  }
  .link {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    text-decoration: none;
    color: var(--text);
    font-size: 1rem;

    transition: all 0.5s ease-in-out; 

    padding: 1rem;
    border-radius: 1rem;
  }

  .link:hover {
    color: var(--primary-color);
    border-color: var(--primary-color);
  }
  .link svg {
    width: 1.2rem;
    height: 1.2rem;
    flex-shrink: 0;
  }

  .link span {
    color: var(--fadeText);
    transition: color 0.5s ease;
  }
  .link:hover span {
    color: var(--primary-color);
  }
</style>
