---
import { links } from "../content/links";
import { Icon } from "astro-icon";
---

<div class="links">
  <div>Other Places</div>
  {
    links.map((link) => (
      <a class="link" rel="me" href={link.url}>
        <Icon name={link.icon} />
        <span>
        {link.name}
        </span>
      </a>
    ))
  }
</div>

<style>
  .links {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
    gap: 1rem 2rem;
    width: 100%;
  }
  .link {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    text-decoration: none;
    color: var(--text);
    font-size: 1rem;
    transition: color 0.5s ease;

    border: 1px solid var(--border);
    background: var(--background);
    box-shadow: var(--cardShadow);

    padding: 0.5rem;
    border-radius: 0.5rem;
  }
  .link:hover {
    color: var(--primary-color);
  }
  .link svg {
    width: 2rem;
    height: 2rem;
    flex-shrink: 0;
  }

  .link span {
    color: var(--fadeText);
    transition: color 0.5s ease;
  }
  .link:hover span {
    color: var(--primary-color);
  }
</style>
