---
import type { Heading, NestedHeading } from "../dataTypes";
import TocHeading from "./TocHeading.astro";

interface Props {
  headings: Heading[];
}

const { headings } = Astro.props;

function buildToc(headings: Heading[]) {
  const toc: NestedHeading[] = [];
  const parentHeadings = new Map();
  headings.forEach((h) => {
    const heading = { ...h, subheadings: [] };
    parentHeadings.set(heading.depth, heading);
    // console.log({ heading });
    if (heading.depth === 1) {
      toc.push(heading);
    } else {
      if (!parentHeadings.has(heading.depth - 1)) {
        toc.push(heading);
      } else {
        parentHeadings.get(heading.depth - 1).subheadings.push(heading);
      }
    }
  });
  return toc;
}

// console.log({ headings });

const toc = buildToc(headings);
---

<nav class="toc">
  <ul>
    {toc.map((heading) => <TocHeading heading={heading} />)}
  </ul>
  <svg class="toc-progress" xmlns="http://www.w3.org/2000/svg">
    <path
      class="toc-marker"
      fill="none"
      stroke="currentColor"
      stroke-linecap="round"
      stroke-width="2"
      stroke-dashoffset="1"
      stroke-linejoin="round"></path>
  </svg>
</nav>

<style>
  nav.toc {
    padding: 1rem;
    font-family: var(--font-family);
  }

  nav.toc ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  svg.toc-progress {
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  path.toc-marker {
    transition: stroke-dasharray 0.3s ease;
  }
</style>
