
.icon-heart:before { content: '\e801'; } /* '' */
.icon-github:before { content: '\f09b'; } /* '' */
.icon-behance:before { content: '\f1b4'; } /* '' */
.icon-telegram:before { content: '\f2c6'; } /* '' */
.icon-facebook-rect:before { content: '\f301'; } /* '' */
.icon-twitter-bird:before { content: '\f303'; } /* '' */
.icon-instagram:before { content: '\f31e'; } /* '' */