.pageTitle {
	font-size: 6rem;
	font-weight: 500;
	margin: 0;
	transition: all .5s ease-in-out;
	background: -webkit-linear-gradient(0deg,#f06 10%,#6b5eff 90%);
  background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
