---
import { themeVars } from "../theme";
import Sidebar from "../components/sidebar.astro";

import "../styles.css";

export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <div class="grid">
      <Sidebar />
      <div class="content">
        <slot />
      </div>
    </div>
    <script>
      import "iconify-icon";
    </script>
  </body>
</html>
<style is:global define:vars={themeVars}>
  * {
    box-sizing: border-box;
  }
  html {
    font-family: Jost;
    color: var(--text);
    background-color: var(--background);
    font-size: 16px;
  }
  body {
    margin: 0;
  }


  .grid {
    display: grid;
    grid-template-columns: 14rem 1fr;
    gap: 1rem;
    padding: 1rem;
    height: 100vh;
  }

  .content {
    overflow-y: auto;
    background-color: var(--surface);
    border-radius: 1rem;
  }
</style>
