---
import ThemeManagerSolid from "./index";
---

<div class="theme-card manager-card">
  <ThemeManagerSolid client:only />
</div>

<style>
  .manager-card {
    width: 100%;
    padding: 1rem;
    border-radius: calc(var(--border-radius) * 2);
    margin-bottom: 2rem;
  }
</style>
