---
import NavLink from './NavLink.astro'
interface Props {
  links: {
    name: string;
    slug: string;
  }[];
}

const {links} = Astro.props
---

<nav class="page-nav">
  {
    links.map((link) => (
      <div class="link-wrapper">
        <NavLink href={link.slug}>
          {link.name}
        </NavLink>
      </div>
    ))
  }
</nav>

<style>
  .page-nav {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    gap: 1rem;
  }
  .link-wrapper {
    display: flex;
    background: var(--surface);
    border-radius: var(--layout-border-radius);
  }
  .link-wrapper > :global(a) {
    padding: 0.5rem 1rem;
  }
</style>
