---
interface Props {
  tag: string;
  showCount?: boolean
}
const { tag, showCount } = Astro.props;

import { tagCounts, isTagHidden } from '../../lib/dataAstro'
---

<a href={isTagHidden(tag) ? `/blag/tags/` : `/blag/tags/${tag}/`} class="tag">
  #<span>{tag}</span> {showCount && <span class="count">{tagCounts[tag]}</span>}
</a>

<style>
  .tag {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: max-content;
    color: var(--text);
    text-decoration: none;
    background-color: var(--surface);
    padding: 0.25rem 0.75rem;
    border-radius: var(--border-radius);
    transition: all 0.2s ease-in-out;
  }
  .tag:hover {
    color: var(--primary-color);
  }

  .count {
    color: var(--fadeText);
    margin-left: 0.5rem;
  }

  .tag:hover span {
    background: var(--animated-gradient);
    background-size: 200% 200%;
    animation: backgroundMove 3s ease infinite;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
</style>
