---
interface Props {
  tag: string;
}
const { tag } = Astro.props;
---

<a href={`/blag/tags/${tag}`} class="tag">
  #<span>{tag}</span>
</a>

<style>
  .tag {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: max-content;
    color: var(--text);
    text-decoration: none;
    background-color: var(--surface);
    padding: 0.25rem 0.5rem;
    border-radius: 0.5rem;
    transition: all 0.2s ease-in-out;
  }
  .tag:hover {
    color: var(--primary-color);
  }

  .tag:hover span {
    background: var(--animated-gradient);
    background-size: 200% 200%;
    animation: backgroundMove 3s ease infinite;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
</style>
